
@{
    ViewBag.Title = "About";
}

<!--Heading - underline and bolded-->
<h2><b><u>Description about Ciara Massyn:</u></b></h2>
<!--Sub-heading-->
<h3>Some information about the student 05038015</h3>

<!--Container to group everything-->
<!--Inline CSS to change the background color to lavender-->
<div class="container" style="background-color: lavender;">
    <div class="row">
        <div class="col-md-8">
            <!--Background of Ciara Massyn-->
            <h3>Background:</h3>
            <p>
                I was born Monday morning 07:47, 2 September 2002. I grew up in Montana, Pretoria, I know the place like the back of my hand.
                My home language is  Afrikaans. Everyday I am developing my English vocabulary.
            </p>
            <!--Achievements of Ciara Massyn-->
            <h3>Achievements:</h3>
            <p>
                I was in school for sport - specifically hockey. I played in high school grade 11 (2019) for 5 different teams:
                <!--Unordered list-->
                <ul>
                    <!--List items-->
                    <li>1st Team for High School Montana</li>
                    <li>Tuks Youth Stripes</li>
                    <li>AVS North 0/18</li>
                    <li>Hollandia - Commercial League</li>
                    <li>Titans Indoor 0/18 B</li>
                </ul>
                I am currently just playing hockey for Hollandia. Since University I turned it around to try to do better in academic.
                For my first year I had an average of 74,24%. <br />
            </p>
            <!--Experience of Ciara Massyn-->
            <h3>Experience:</h3>
            <p>
                I started my own tutoring services for INF 154 students. I know how difficult it is to try and start coding if you do not have experience. My coding experience so far:
                <!--Unordered list-->
                <ul>
                    <!--List items-->
                    <li>Delphi (2018 - 2020)</li>
                    <li>C# (2021)</li>
                    <li>HTML (2021 - 2022)</li>
                    <li>CSS (2021 - 2022)</li>
                    <li>Javascript (2022)</li>
                    <li>JQeury (2022)</li>
                </ul>
                I have worked for Hennies before as a waiter in 2021. <br />
                I am currently working for TutorDevOps as a tutor for first year students in INF 154 and INF 164.
            </p>
        </div>
        <!--Picture of Ciara Massyn-->
        <div class="col-md-4">
            <h3>Ciara:</h3>
            <!--Image saved in the folder Media > About-->
            <!--Inline CSS of width of picture-->
            <img src="~/Media/About/Ciara1.jpg" width="300" />
        </div>
    </div>
</div>